.tenWeb {
    font-size: 25px;
    color: white;
}

.search {
    margin-left: auto;
}

.checkout {
    padding-top: 10px;
}

#icon_checkout {
    font-size: 25px;
}

.home {
    width: 25%;
    float: left;
}

.product {
    width: 25%;
    float: left;
}

.about {
    width: 25%;
    float: left;
}

.contact {
    width: 25%;
    float: left;
    border: red;

}

#ctn_header {
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ccc;
}

#btn1 {
    border-radius: 10px 0px 0px 10px;
}

#btn2 {
    border-radius: 0px;
}

#btn3 {
    border-radius: 0px;
}

#btn4 {
    border-radius: 0px 10px 10px 0px;
}

.btn-block {
    display: inline-block;
}

.inProduct {
    display: none;
    position: absolute;
    background: rgb(0, 0, 0);
    width: 500px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #eee;
    text-align: left;
    z-index: 10;
}

.hoverProduct:hover+.inProduct {
    display: block;
}

.inProduct:hover {
    display: block;
}

.select:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.select {
    color: rgb(255, 255, 255);
    padding-left: 15px;
}

[class^="icon-"],
[class*="icon-"] {
    background-image: url(../asset/img/icon_common.06102021@2x.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 250px;
}

.icon-maylanh {
    background-position: -155px -78px;
    height: 20px;
    width: 22px;
}
.icon-tulanh {
    background-position: -105px -80px;
    height: 20px;
    width: 22px;
}
.icon-maygiat {
    background-position: -130px -78px;
    height: 20px;
    width: 22px;
}
.showCate
{
    text-align: center;
}
.imgCate{
    padding-top: 30px;
}
.categories
{
    margin-top: 25px;
}