.tenWeb
{
    font-size: 25px;
    color: white;
}
.search
{
    margin-left: auto;
}
.checkout
{
    padding-top: 10px;
}
#icon_checkout
{
    font-size: 25px;
}
.home
{
    width: 25%;
    float: left;
}
.product
{
    width: 25%;
    float: left;
}
.about
{
    width: 25%;
    float: left;
}
.contact
{
    width: 25%;
    float: left;
    border: red;
    
}
#ctn_header
{
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ccc;
}
#btn1
{
    border-radius: 10px 0px 0px 10px;
}
#btn2
{
    border-radius: 0px;
}
#btn3
{
    border-radius: 0px;
}
#btn4
{
    border-radius: 0px 10px 10px 0px;
}
.btn-block
{
    display: inline-block;
}