/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
    box-shadow: inset 0 0 5px rgb(49, 47, 47);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 179, 179);
  }